
<ion-view>
<!-- <ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar> -->


 <ion-content scroll="false" scrollbar-y="false" class="mesh" animation="slide-left-right-ios7">

 <div class = "unMenu2 ">
  <!-- <button on-swipe-left="onSwipeLeft()" class="button">Test</button> -->
    <button ng-init="tinderView = false" class="tinderBtn" ng-click="tinderView=!tinderView">Tinder</button>
  <button ng-show="newNot==false" class="profileBtn" ng-click="openPopover($event)">Open</button>
  <button ng-show="newNot==true" class="profileBtn2" ng-click="openPopover($event); newNot=false;">New Notification</button>
<a class="ion-navicon" menu-toggle="right"></a>
</div>
      <!-- </div> -->


  <ion-scroll ng-show="tinderView == false" id="eventList">

  <ion-refresher id="re1" pulling-icon="none" refreshing-icon="ion-loading-c"  on-refresh="alert3()">
  </ion-refresher>

  <hr class="div12">




  <div class="eventScroller"  ng-repeat="event in events | orderObjectBy:'timeString':true |  orderObjectBy:'start_time':true | orderObjectBy:'startYear':false " ng-click="go_here(event)" >


    <img ng-show="{{event.cover}}" class="full-image" src="{{event.cover}}" >
    <img ng-hide="event.cover!=undefined" ng-click="go_here(event)" class="full-image" src="http://i62.tinypic.com/2zznq55.jpg" >

          <div class="eventInfoSection">
             <a ng-init="event.watched=foll9(userItem.watchList,event)" ng-hide="event.watched" ng-click="watchAction(event); $event.stopPropagation();" class="ion-ios7-eye-outline watchBtn"></a>
             <a ng-show="event.watched" ng-click="watchAction(event); $event.stopPropagation();" class="ion-ios7-eye watchBtn"></a>
      <h3 id="eventName">{{event.name}}</h3>
      <p id="eventLocation" ng-if="event.location!=null"><i class="icon ion-ios7-location"></i> {{event.location}}</p>
      <p class="eventDT" ng-if="event.start_time!=null">{{event.start_time}}</p> <p class="eventDT" ng-if="event.timeOfEvent!=null">{{event.timeOfEvent}}</p>
    </div>


</div>


 </ion-scroll>

 <!-- <ion-pane > -->

<div ng-show="tinderView == true">
      <swipe-cards>


        <swipe-card ng-show="startCard==true" on-card-swipe="startCard=!startCard" on-partial-swipe="cardPartialSwipe(amt)" class=".swipe-card.pop-in" id="start-card">
        Swipe down for a new card
      </swipe-card>


      <swipe-card ng-show="startCard==false" ng-repeat="card in cards" on-card-swipe="tinderSwipe(card)" on-partial-swipe="cardPartialSwipe(amt)" class=".swipe-card.pop-in">
      <div id='tinderEventContent'>
            <!-- <div >LIKE</div> -->
            <img ng-show="{{card.cover}}" src="{{card.cover}}" >
            <img ng-hide="card.cover!=undefined" src="http://i62.tinypic.com/2zznq55.jpg" >

            <!-- <div >NOPE</div> -->
    </div>
    <div class="tinderBtnSection">
     <div class="tinderBtn1">
  <a ng-init="card.watched2 = true" ng-hide="card.watched2" ng-click="watchAction(card); $event.stopPropagation();" class="ion-close-round"></a>
             <a ng-show="card.watched2" ng-click="watchAction(card); $event.stopPropagation();" class="ion-close-round"></a>
</div>

     <div class="tinderBtn2">
  <a ng-init="card.watched=foll9(userItem.watchList,card)" ng-hide="card.watched" ng-click="watchAction(card); $event.stopPropagation();" class="ion-ios7-eye-outline"></a>
             <a ng-show="card.watched" ng-click="watchAction(card); $event.stopPropagation();" class="ion-ios7-eye"></a>
</div>
</div>
<!--
           <div class="title">
            {{card.name}}
          </div> -->
       <!--    <div class="button-bar">
            <button class="button button-clear button-positive" ng-click="goAway()">Answer</button>
            <button class="button button-clear button-positive" ng-click="goAway()">Decline</button>
          </div> -->
      </swipe-card>


       <swipe-card ng-show="cards.length==0" on-card-swipe="" class=".swipe-card.pop-in" id="start-card">
        Ending card in the stack, tap to refresh your events!
      </swipe-card>


    </swipe-cards>



</div>




<!-- </ion-pane> -->


<!--  -->






  <script id="my-popover.html" type="text/ng-template">
  <ion-popover-view >
  <ion-content>
      <h1 class="profHead">My Profile</h1>
       <img class="feedPic" src="./images/nathanpic2BW.jpg">
       <h4 class="followNum">{{followCount}}<button  ng-click="findFriends()" class="friendBtn">Find Friends</button></h4>
       <p class="followTxt">Following </p>
       <hr>
       <div class="notifications2" ng-repeat="not in notifications | orderObjectBy:predicate1">
       <div class="ion-navicon">
       <div ng-click="followNot(not)">
        <h5 ng-init="not.date1=foll6(not.date)">{{not.date1}}</h5>
        <h5>{{not.message}}</h5>
       </div>
       </div>

       </div>


    </ion-content>
  </ion-popover-view>
</script>

 </ion-content>
</ion-view>


